<!DOCTYPE html>
<html ng-app="store">
<app-navbar-user></app-navbar-user>

<head>
  <meta charset="utf-8" />
  <!-- <title>Store Application</title> -->
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" data-require="bootstrap@3.3.5"
    data-semver="3.3.5" />
  <!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.css" rel="stylesheet" data-require="bootstrap@3.3.5" data-semver="3.3.5" /> -->
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" data-require="bootstrap@3.3.5" data-semver="3.3.5"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js" data-require="bootstrap@3.3.5" data-semver="3.3.5"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js" data-require="angularjs@1.4" data-semver="1.4.4"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-cookies.min.js" data-require="angularjs@1.4" data-semver="1.4.4"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-sanitize.min.js" data-require="angularjs@1.4"
    data-semver="1.4.4"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-animate.min.js" data-require="angularjs@1.4" data-semver="1.4.4"></script>
  <script data-require="jquery@2.1.4" data-semver="2.1.4" src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="app.js" type="text/javascript"></script>

  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />

</head>
<!-- <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <a class="navbar-brand"  href="/home">ECOMMERCE</a>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/viewblog">Blogs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/viewproduct">Products</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/login">Login</a>
          </li>
      </ul>
    </nav> -->
<!-- <br><br><br> -->
<div class="container">
  <h2>Blogs</h2>
  <br>

  <div class="row">
    <div class="col-md-11" *ngFor="let blogs of blogslist">
      <div class="panel panel-primary" position="">
        <div class="col-md-6">
          <div class="panel-body">
            <tr>
              <img src={{blogs.image}} class="img-responsive" style="width:200px" height="200px" alt="Image"> </tr>
          </div>
          <div class="panel-body">
            <tr style="font-size: 25px">Name of blog:{{ blogs.name }}</tr>
          </div>
          <span class="border border-top-0"></span>
          <div class="panel-body">
            <br>
            <button class="btn btn-primary btn-sm button button3" (click)="openModal(blogs._id)" style="width:auto;">View blog and Comments</button>

            <div id="id01" class="modal">

              <form class="modal-content animate">
                <div class="imgcontainer">
                  <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
                </div>

                <div class="container">
                  <div class="col-md-6">
                    <div>
                      <div class="panel-body" style="margin-top: -8%;margin-left:-10px ">
                        <h5>Blog :{{ blogData.description }}</h5>
                      </div>


                      <h4 class="first">Rating {{val1}}</h4>
                      <p-rating [(ngModel)]="val1" name="val1"></p-rating>
                      <form [formGroup]="rForm" (ngSubmit)="comments()">
                        <label style="font-size: 15px">Comment
                          <input type="text" class="form-control" formControlName="comments">
                        </label>
                        <input type="submit" value="comment" class="btn btn-primary btn-sm button button3" style="margin-left: 5px">
                      </form>
                    </div>
                  </div>

                  <div class="col-md-6">
                    <p-scrollPanel [style]="{width: '100%', height: '200px'}">
                      <div style="padding:1em;line-height:1.5">
                        <p-card title='Comments' [style]="{width: '360px'}">
                          <div *ngFor="let comments of commentslist">
                            ///{{comments.userId.username}} /// Comment : {{comments.comments}}
                            <br> Rating : {{comments.rating}}
                            <br> Date : {{comments.date | date: 'dd/MM/yyyy'}}
                            <hr/>
                          </div>
                        </p-card>
                      </div>
                    </p-scrollPanel>
                  </div>
                </div>




              </form>
            </div>





          </div>
        </div>




        <!-- <div class="col-md-6">
          <p-scrollPanel [style]="{width: '100%', height: '200px'}">
              <div style="padding:1em;line-height:1.5">
                  <p-card title='Comments' [style]="{width: '360px'}">
                    <div  *ngFor="let comments of commentslist">
                    Comment : {{comments.comments}}
                    <br>
                    Rating : {{comments.rating}}
                    <br>
                    Date : {{comments.date | date: 'dd/MM/yyyy'}}
                    <hr/>
                    </div>
                  </p-card>
              </div>
          </p-scrollPanel>
        </div> -->






       
      </div>
    </div>
  </div>
</div>


</html>
<br>
<br>
<br>
<br>
<br>
<app-footer-user></app-footer-user>