<app-navbar></app-navbar>
<div class="col-md-10">
<h1>Users</h1>
<div class="col-md-6">
    <button class="btn btn-primary" [routerLink]="['/add-users']">Add User</button>
</div>
<br>
<table class="table table-striped table-dark">
  <thead>
    <tr>
      <th scope="col">Username</th>
      <th scope="col">Password</th>
      <th scope="col">Email</th>
      <th scope="col">Role</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let users of userslist">
      <!-- <td><img src="{{blogs.image}}" alt="" height="10%" width="10%"></td> -->
      <td>{{users.username}}</td>
      <td>{{users.password}}</td>
      <td>{{users.email}}</td>
      <td>{{users.role}}</td>
      <td><button class="btn btn-primary" [routerLink]="['/edit-users',users._id]">Edit</button><button class="btn btn-danger" style="margin-left: 5px" (click)="deleteUsers(users._id)">Delete</button></td>
   
    </tr>
 
  </tbody>
</table>
</div>
<!-- <div class="container">
  <div class="col-md-6">  
    <h1>Users List</h1>
  </div>
  <div class="col-md-6">
    <button class="btn btn-primary" [routerLink]="['/add-user/add-user']">
  </div>
    <br>
  <div class="col-md-11">
  <table class="table table-striped table-dark">
  <thead>
    <tr>
      <th scope="col">User</th>
      <th scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let blogs of blogslist">
      <td><img src="{{blogs.image}}" alt="" height="10%" width="10%"></td>
      <td>{{blogs.name}}</td>
      <td>{{blogs.description}}</td>
      <td><button class="btn btn-primary" [routerLink]="['/edit-user/edit-user',blogs._id]">Edit</button>/<button class="btn btn-danger" (click)="delete(blogs._id)">Delete</button></td>   
    </tr>
 
  </tbody>
</table>
</div>
</div> -->