<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="footer-bottom">
<div class="container">
					<div class="row">
						<div class="col-sm-12 ">
							<div class="copyright-text">
								<p>CopyRight © 2017 Digital All Rights Reserved</p>
							</div>
						</div> 
						<!-- End Col -->
						<!-- <div class="col-sm-6">							
							<ul class="social-link pull-right">
								<li><a href=""><span class="glyphicon glyphicon-heart-empty"></span></a></li>						
								<li><a href=""><span class="glyphicon glyphicon-heart-empty"></span></a></li>
								<li><a href=""><span class="glyphicon glyphicon-heart-empty"></span></a></li>
								<li><a href=""><span class="glyphicon glyphicon-heart-empty"></span></a></li>
								<li><a href=""><span class="glyphicon glyphicon-heart-empty"></span></a></li>
							</ul>							
						</div> End Col -->
					<!-- </div> -->
				</div>
</div>