<app-navbar></app-navbar>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.1/css/foundation.min.css">
<div *ngIf="!name; else forminfo">
  <form [formGroup]="rForm" (ngSubmit)="addProducts(rForm.value)">
    <div class="form-container">
      <div class="row columns">
        <h1>Add Product</h1>
        <label style="font-size: 15px">Product Name
          <input type="text" formControlName="productName" class="form-control">
        </label>
        <label style="font-size: 15px">Product Description
          <input type="text" formControlName="productDescription" class="form-control">
        </label>
        <label style="font-size: 15px">Product Cost
          <input type="text" formControlName="productCost" class="form-control">
        </label>
        <label style="font-size: 15px">Product Category
          <input type="text" formControlName="productCategory" class="form-control">
        </label>
        <input type="file" id="file" (change)="onFileChange($event)" #fileInput>

        <input type="submit" class="button expanded" value="Submit Form" style="font-size: 15px">
      </div>
    </div>
  </form>
</div>